/*-- scss:defaults --*/

$body-bg: #145357 !default;
$body-color: #fff!default;
$link-color: #fff !default;
$input-panel-bg: #fff !default;
$code-color: #fcf6bd !default;
$tabset-border-color: #5e548e !default;




